<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.absence.checkin</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/zijian/Stampen/venv/bin/python</string>
        <string>/Users/zijian/Stampen/absence_clock.py</string>
        <string>checkin</string>
    </array>
    <!-- 周一至周五 08:00 -->
    <key>StartCalendarInterval</key>
    <array>
        <dict>
            <key>Weekday</key><integer>1</integer>
            <key>Hour</key><integer>8</integer>
            <key>Minute</key><integer>0</integer>
        </dict>
        <dict>
            <key>Weekday</key><integer>2</integer>
            <key>Hour</key><integer>8</integer>
            <key>Minute</key><integer>0</integer>
        </dict>
        <dict>
            <key>Weekday</key><integer>3</integer>
            <key>Hour</key><integer>8</integer>
            <key>Minute</key><integer>0</integer>
        </dict>
        <dict>
            <key>Weekday</key><integer>4</integer>
            <key>Hour</key><integer>8</integer>
            <key>Minute</key><integer>0</integer>
        </dict>
        <dict>
            <key>Weekday</key><integer>5</integer>
            <key>Hour</key><integer>8</integer>
            <key>Minute</key><integer>0</integer>
        </dict>
    </array>
    <key>StandardOutPath</key>
    <string>/Users/zijian/Stampen/checkin.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/zijian/Stampen/checkin_error.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>TZ</key>
        <string>Europe/Berlin</string>
    </dict>
</dict>
</plist>
